# Getting Started

In [1]:
import os
import numpy as np
import pandas as pd
import datetime
import re

import numpy as np
import pandas as pd
import string
import re
import matplotlib.pyplot as plt
import math
from matplotlib import rc
import random

from Levenshtein import distance as L_dist

from collections import Counter, defaultdict
import matplotlib.ticker as ticker
from math import sqrt

import plotly.express as px 
import matplotlib.pyplot as plt
import warnings

In [2]:
datetime.datetime.now()

datetime.datetime(2022, 7, 11, 15, 16, 18, 891117)

In [3]:
cols = ["song", "songID", "artist", "album", "genre", "play_count", "click_count"]
# df_test = pd.read_csv('C:/Users/awrg/Documents/Delft/Thesis/Projects/Datasets/Engineered/test_dataset_small_1.csv')
df_test = pd.read_csv('C:/Users/awrg/Documents/Delft/Thesis/Projects/Datasets/Engineered/test_dataset_small_1.csv')
df_log = pd.read_csv('C:/Users/awrg/Documents/Delft/Thesis/Projects/Datasets/Engineered/test_clicklog_small_v1.csv', index_col=0)
df_log2 = pd.read_csv('C:/Users/awrg/Documents/Delft/Thesis/Projects/Datasets/Engineered/test_clicklog_full_v1.csv', index_col=0)

In [4]:
df_test

,song,songID,artist,album,genre,play_count,click_count
0,Soul Food,1,Mat Zo,Self Assemble,Electronic,82294,555
1,The Enemy,2,Mat Zo,Self Assemble,Electronic,42875,777
2,Everytime We Touch,3,Cascada,Everytime We Touch,Electronic,1756387293,9872342342
3,Something in the Way,4,Nirvana,Nevermind,Grunge,171857763,223746531
4,heat,5,53 Thieves,after hours,Electronic,88342,101527
5,Another Life,6,Jadu Heart,Hyper Romance,Electronic,17009,28032
6,Numb,7,Elderbrook,Why Do We Shake In The Cold?,Electronic,441070,565088
7,Control,8,Emmit Fenn,The Last Dance,Electronic,267650,310823
8,Fire for You,9,Cannons,Shadows,Electronic,32199,37825
9,Dope,10,Demeter,Dope,Electronic,1780336,2138853

In [5]:
df_log

,userID,user_query,click_position,title,magnet
0,5,soul food,2,Soul Food,link0
1,5,Mat Zo,11,The Enemy,link1
2,7,Swedish dance song,3,Everytime We Touch,link2
3,1,Nirvana Batman song,1,Something in the Way,link3
4,3,heat,5,heat,link4
5,4,Another Life Jadu Heart,1,Another Life,link5
6,9,Numb by Elderbrook,1,Numb,link6
7,8,Control,17,Control,link7
8,8,Cannons Fire for You,1,Fire for You,link8
9,8,dope,11,Dope,link9

In [6]:
df_log2

,title,artist,magnet,click_count
0,Marvu – Underground Jazz [2010] [EP],Marvu,magnet:?xt=urn:btih:77efa41fc2eb77996b2fd2d2e7...,771501
1,Is World – Turning [2010] [EP],Is World,magnet:?xt=urn:btih:593643871726261298e4806a64...,991597
2,...And Stars Collide – ...And Stars Collide [2...,...And Stars Collide,magnet:?xt=urn:btih:077293393f826c6bc1ccf8ff53...,833324
3,Sadsic – [sun] [2009] [EP],Sadsic,magnet:?xt=urn:btih:ad04b4cab2d25322b55f941ad6...,970405
4,Boreals – Rome [2011] [EP],Boreals,magnet:?xt=urn:btih:2f515edefd669e6e1801a00160...,299206
...,...,...,...,...
248,The Jim Tablowski Experience – SHOULD WE MAKE ...,The Jim Tablowski Experience,magnet:?xt=urn:btih:a2acdfda4a9da275f17bedbde2...,885452
249,Commonplaces – A private sea [2011] [Album],Commonplaces,magnet:?xt=urn:btih:8ed2e212fa90d01b91c9f27ea7...,29167
250,Maharajah with Charl and H-sie – Good Hearted ...,Maharajah,magnet:?xt=urn:btih:cdceb58b04cd7bc285a5caeb6d...,716629
251,Big Joe Daddy – 11:11 [2014] [Album],Big Joe Daddy,magnet:?xt=urn:btih:345699cc10bdb566307f5d48f8...,206696
252,seedmole – Converzhe [2012] [Album],seedmole,magnet:?xt=urn:btih:9e35b0a81481a4acd56d32d693...,931710

In [7]:
# df_log = pd.DataFrame(columns=['userID', 'user_query', 'click_position', 'title', 'magnet'])
# df_log.userID = np.zeros(10)
# df_log.user_query = ['soul food', 'Mat Zo', 'Swedish dance song', 'Nirvana Batman song', 'heat', 'Another Life Jadu Heart', 'Numb by Elderbrook', 'Control', 'Cannons Fire for You', 'dope']
# df_log.title = df_test.song.copy()
# df_log.click_position = [2, 11, 3, 1, 5, 1, 1, 17, 1, 11]
# df_log.userID = [5, 5, 7, 1, 3, 4, 9, 8, 8, 8]
# df_log.magnet = ['link0', 'link1', 'link2', 'link3', 'link4', 'link5', 'link6', 'link7', 'link8', 'link9']

# df_log.to_csv('C:/Users/awrgo/Documents/Delft/Thesis/Projects/Datasets/Engineered/test_clicklog_small_v1.csv')

# url = 'https://raw.githubusercontent.com/brian2509/pandacd-scrape/master/export/220408/assets/output.csv'
# df_log2 = pd.read_csv(url)

# df_log2['click_count'] = np.random.randint(0, 1000000, df_log2.shape[0])

# df_log2.to_csv('C:/Users/awrg/Documents/Delft/Thesis/Projects/Datasets/Engineered/test_clicklog_full_v1.csv')




# df_log2

---
# Global Objects and Classes

Nodes, Networks, etc

In [8]:
class Node:

    nodeID = None
    library = None
    clicklog = None
    
    def __init__(self, newID):
        self.nodeID = newID
        self.library = pd.DataFrame()
        self.clicklog = pd.DataFrame()
        
    
    def updateLibrary(self, newData):
        self.library = self.library.append(newData, ignore_index=True)
        
        
    def gossip_library(self, neighbors, to_gossip, debug):
        
        timestamp = datetime.datetime.now()
        for n in neighbors:
#             message = Message(this.nodeID, n.nodeID, to_gossip, timestamp)
            temp = n.library
            n.library = pd.concat([n.library, to_gossip]).drop_duplicates()
            n.library.reset_index(inplace=True, drop=True)
            if(debug): 
                print("Added", to_gossip)
                print(" to", temp)
                print("creating: ", n.library)
            temp = None

In [9]:
class Message:
    
    fromID = None
    toID = None
    contents = None
    timestamp = None
    
    
    def __init__(self, fromID, toID, contents, timestamp):
        self.fromID = fromID
        self.toID = toID
        self.contents = contents

In [54]:
class Network:
    
    nodes = None
    default_cols = None    
    library = None
    clicklog = None
    
    
    def __init__(self):
        self.default_cols = pd.Series()
        self.library = pd.DataFrame()
        self.nodes = pd.Series()
        self.clicklog = pd.DataFrame()
    

    def __init__(self, numNodes, default_cols, default_df, default_log):
        self.default_cols = default_cols
        self.library = default_df
        self.nodes = []
        self.clicklog = default_log
        
        for i in range(numNodes):
            
            newNode = Node(i)
            newNode.library = self.library
            newNode.clicklog = self.clicklog
            self.nodes.append(newNode)
            
            
    def __init__(self, numNodes, default_df, default_log):
        self.library = default_df
        self.nodes = []
        self.clicklog = default_log
        
        for i in range(numNodes):
            
            newNode = Node(i)
            newNode.library = self.library.copy()
            newNode.clicklog = self.clicklog.copy()
            self.nodes.append(newNode)
            
    def __init__(self, numNodes, default_df, default_log, fraction):
        
        
        self.library = default_df
        self.nodes = []
        self.clicklog = default_log

        for i in range(numNodes):

            newNode = Node(i)
            # fraction is the % of the global dataset each node will contain (randomly selected)
            newNode.library = self.library.sample(frac=fraction, axis=0, ignore_index=True).copy()
            newNode.clicklog = self.clicklog
            self.nodes.append(newNode)


    
#     def gossip(self, num_nodes):

In [11]:
def buildNetwork(numNodes, default_df):
    
#     network = Network()
    network = []
    
    for i in range(numNodes):
        
        newNode = Node(i)
        newNode.library = default_df.copy()
        network.append(newNode)
        
    return network

In [12]:
# build network with a random sampling of songs for each node
def buildNetwork_v2(numNodes, default_df):
    
    network = []
    
    for i in range(numNodes):
        
        newNode = Node(i)
        newNode.library = default_df.sample(frac=np.random.rand(), axis=0, ignore_index=True).copy()
        network.append(newNode)
        
    return network

---
# Major Algorithms

- Search
    - (v1) Must be able to return all string matches
    - Ideally ranks based on popularity (clicklog)
    - No user profiling/machine learning (yet)

- Gossip
    - Pass messages occasionally (when/why?)
    - 


- Rank

---

## Search


In this iteration, I will assume that the first node that it finds the result in is also the most efficient to reach, therefore I will only return the location of the first result (instead of a list of all containing nodes).

Problem with this is: what if each node has a different dataset? We can't end the search at just the first hit. We need to go through everything nearby. **Therefore I think it's better to keep a list of all contained nodes, and limit the search in some other way to constrain it**.

In [13]:
# debug = False

# def search(term, to_search):
    
#     # We need to aggregate the results where we have a match
#     total_results = pd.DataFrame()
#     contained_nodes = []
#     first_found = -1
    
#     # Look through the list of nodes to search through
#     for node in to_search:
#         if(debug): print("node:", node.nodeID)
        
#         # For each column in the library of each node
#         for col in node.library.columns:
                
#             # Get the columns of where the term is found in the node library
#             node_results = node.library.iloc[np.where(node.library[col].astype(str).str.find(term) == 0)]
            
#             if(debug): 
#                 print("column:", col)
#                 print("node_results:", node_results)
            
#             # Concatenate the total results into a dataframe
#             total_results = pd.concat([node_results, total_results]).drop_duplicates()
            
#             # Keep track of the nodes that the result is found in
#             if(len(node_results) > 0):
#                 print("node", node.nodeID, "contained the search term:", term)
#                 total_results["found_in"] = node.nodeID
                
       
#     return total_results

### Search v1:

- Search all nodes
- Return all literal string matches
    - including a list of every node it was found on
- Sort the matches based purely on click count

In [14]:
####
# This iteration collects all nodes that the result is found in
####


debug = False

def search_v1(term, to_search, is_ranked):
    term = str(term)
    term = term.lower()
    
    # We need to aggregate the results where we have a match
    total_results = pd.DataFrame()
    contained_nodes = []
    
    
    # Look through the list of nodes to search through
    for node in to_search:
        if(debug): print("node:", node.nodeID)
            
        
        # For each column in the library of each node
        for col in node.library.columns:
            
                
            # Get the columns of where the term is found in the node library
            node_results = node.library.iloc[np.where(node.library[col].astype(str).str.contains(term, na=False, case=False))].copy()
        
            
            if(debug): 
                print("column:", col)
                print("node_results:", node_results)
            
            # Concatenate the total results into a dataframe
            total_results = pd.concat([node_results, total_results]).drop_duplicates()
            
            # Keep track of the nodes that the result is found in
            if(len(node_results) > 0):
                if(debug): print("node", node.nodeID, "contained the search term:", term)
                contained_nodes.append(node.nodeID)
       
    
    # add the list of contained nodes to the returned dataset
#     total_results['contained_nodes'] = [x for x in contained_nodes]
    
#     total_results['contained_in'] = []
    
#     for i in range(len(total_results)):
#         total_results.iloc[i].contained_in =  

    if(debug): print("contained nodes:", contained_nodes)
        
    total_results = total_results.reset_index(drop=True, inplace=False)
    
    if (len(total_results) == 0): 
        print("No exact matches found, here are some suggestions: ")
        return basic_ranked(network.library.copy())
    
    if (is_ranked):
        
        return basic_ranked(total_results)
        
    else:
        return total_results

---
### Search v2

**Assumptions:**
- Global logs
- Need only search one node


**Functionality:**

1. Return results of exact string matches
2. After all string matches are found, return:
    1. Songs from the same album
    2. Songs from the same artist
    3. Songs from the same genre
    
    
(TODO)
- Would be nice to be able to get artists that the matching artist has collaborated with (collabs are included in search, but not where the matching artist is absent)

In [100]:
####
# This iteration searches one node as all nodes have the same global dataset
####


debug = False

def search_v2(term, network):
    term = str(term)
    term = term.lower()
    
    # We need to aggregate the results where we have a match
    match_results = pd.DataFrame()
    
    # Create dataframe for adjascent results
    adjascent = pd.DataFrame()
    
    contained_nodes = []    
    
    to_search = network.nodes[0].library
    
    
    if(debug): print("node:", node.nodeID)


    # For each column in the library of each node
    for col in to_search.columns:


        # Get all exact string matches
        node_results = node.library.iloc[
            np.where(node.library[col].astype(str).str.contains(term, na=False, case=False))
        ].copy()


        if(debug): 
            print("column:", col)
            print("node_results:", node_results)

        # Concatenate the total results into a dataframe
        match_results = pd.concat([node_results, match_results]).drop_duplicates()

        # Keep track of the nodes that the result is found in
        if(len(node_results) > 0):
            if(debug): print("node", node.nodeID, "contained the search term:", term)
            contained_nodes.append(node.nodeID)
     
       

    if(debug): print("contained nodes:", contained_nodes)
        
    # reset the index and sort by click count
    match_results = match_results.reset_index(drop=True, inplace=False).sort_values(by='click_count', ascending=False)
    
    # Rank total results by popularity first
    ranked_results = basic_ranked(match_results).copy()
    
    
    # Append adjascent results        
    albums = list(ranked_results.album)
    artists = list(ranked_results.artist)
    genres = list(ranked_results.genre)
    
    
    for album in albums:
        album_match = to_search.loc[np.where(to_search.album == album)]
        album_match = album_match.sort_values(by='click_count', ascending=False)
        adjascent = pd.concat([adjascent, album_match])
    
    for artist in artists:
        artist_match = to_search.loc[np.where(to_search.artist == artist)]
        artist_match = artist_match.sort_values(by='click_count', ascending=False)
        adjascent = pd.concat([adjascent, artist_match])
        
    for genre in genres:
        genre_match = to_search.loc[np.where(to_search.genre == genre)]
        genre_match = genre_match.sort_values(by='click_count', ascending=False)
        adjascent = pd.concat([adjascent, genre_match])

    
    
    # make total results
    total_results = pd.concat([ranked_results, adjascent]).drop_duplicates().reset_index(drop=True, inplace=False)
    
    
    
    # Indicate no results found
    if (len(total_results) == 0): 
        print("No exact matches found, here are some suggestions:")
        return basic_ranked(network.library.copy())
        

    # Comment later part to show all columns, uncomment to show just string columns
    return total_results#[total_results.columns[np.where(total_results.dtypes == object)]]

In [102]:
search_v2('The', network)

,song,songID,artist,album,genre,play_count,click_count
0,Something in the Way,4,Nirvana,Nevermind,Grunge,171857763,223746531
1,Numb,7,Elderbrook,Why Do We Shake In The Cold?,Electronic,441070,565088
2,Control,8,Emmit Fenn,The Last Dance,Electronic,267650,310823
3,Another Life,6,Jadu Heart,Hyper Romance,Electronic,17009,28032
4,The Enemy,2,Mat Zo,Self Assemble,Electronic,42875,777
5,Soul Food,1,Mat Zo,Self Assemble,Electronic,82294,555
6,Everytime We Touch,3,Cascada,Everytime We Touch,Electronic,1756387293,9872342342
7,Dope,10,Demeter,Dope,Electronic,1780336,2138853
8,heat,5,53 Thieves,after hours,Electronic,88342,101527
9,Fire for You,9,Cannons,Shadows,Electronic,32199,37825

---
## Ranking and Similarity

### Cosine Similarity v1:

In [16]:
def similarity_v1(song1, song2):
    return np.dot(song1, song2) / np.norm(song1) * np.norm(song2)

### Rank v1

Rank results based on the number of clicks

In [17]:
# Rank simply on click count for all queries
def basic_ranked(results):
    return results.sort_values(by='click_count', ascending=False)

---
### Rank v2

Rank with a hint of spice:

- First get the results with exact string matches
    - Rank first based on popularity
    - Then recommend songs:
        1. Within the same album
        2. By the same artist
        3. In the same genre

In [18]:
# Can't chain sort
# df_test.sort_values(by='click_count', ascending=False).sort_values(by='songID', ascending=False)

In [95]:
to_search = df_test[df_test.columns[np.where(df_test.dtypes == object)]]


to_search

                   song      artist                         album       genre
0             Soul Food      Mat Zo                 Self Assemble  Electronic
1             The Enemy      Mat Zo                 Self Assemble  Electronic
2    Everytime We Touch     Cascada            Everytime We Touch  Electronic
3  Something in the Way     Nirvana                     Nevermind      Grunge
4                  heat  53 Thieves                   after hours  Electronic
5          Another Life  Jadu Heart                 Hyper Romance  Electronic
6                  Numb  Elderbrook  Why Do We Shake In The Cold?  Electronic
7               Control  Emmit Fenn                The Last Dance  Electronic
8          Fire for You     Cannons                       Shadows  Electronic
9                  Dope     Demeter                          Dope  Electronic

In [21]:
x = np.min([L_dist('term', x) for x in to_search.columns])

x

3

---
### Rank v3

Start ranking based on some kind of metric, e.g. cosine distance or Pearson correlation

- If we have a song that has a direct string match, we need to return the direct string matches first. 
     - How to rank these, though? How do we determine a relevance score?
     
- If we have a song that has no direct string matches, we need to find a way to return something potentially useful.
     - Go through search/clicklog and return most clicked results for those who searched for the same term?
     -

In [ ]:
# Basic Rank based on relevance to user
# Take all vectors with exact string matches, compute similarity scores for all pairs


def rel_ranked(results, term):
    
    scores = []
    
    for i in results.song:
        for j in results.columns:
            scores.append(similarity_v1(results[i], results[j]))
        
        
    
    return scores

In [ ]:
search_v1("in the", network.nodes, True)

In [ ]:
def searchAndRank(term, toSearch):
    
    
    
    return basic_ranked(search_results), contained_nodes

### Gossip

---
# Testing Environment

#### Partial network knowledge

This example has N nodes with partial knowledge of the global dataset, and use "gossip" to learn more about the global state and expand their local dataset.

In [55]:
numNodes = 10


# build network, define percentage of total global dataset each node possesses
network = Network(numNodes, df_test, df_log, fraction=1.00)

In [59]:
network.nodes[2].library

,song,songID,artist,album,genre,play_count,click_count
0,Numb,7,Elderbrook,Why Do We Shake In The Cold?,Electronic,441070,565088
1,Another Life,6,Jadu Heart,Hyper Romance,Electronic,17009,28032
2,The Enemy,2,Mat Zo,Self Assemble,Electronic,42875,777
3,heat,5,53 Thieves,after hours,Electronic,88342,101527
4,Soul Food,1,Mat Zo,Self Assemble,Electronic,82294,555
5,Everytime We Touch,3,Cascada,Everytime We Touch,Electronic,1756387293,9872342342
6,Dope,10,Demeter,Dope,Electronic,1780336,2138853
7,Fire for You,9,Cannons,Shadows,Electronic,32199,37825
8,Control,8,Emmit Fenn,The Last Dance,Electronic,267650,310823
9,Something in the Way,4,Nirvana,Nevermind,Grunge,171857763,223746531

In [60]:
node = network.nodes[0]

df_test.iloc[np.where(node.library.song.astype(str).str.contains("you", na=False, case=False))]

,song,songID,artist,album,genre,play_count,click_count
7,Control,8,Emmit Fenn,The Last Dance,Electronic,267650,310823

In [61]:
# Basic search seems to work
search_v2("in the", network.nodes)

,song,songID,artist,album,genre,play_count,click_count
1,Something in the Way,4,Nirvana,Nevermind,Grunge,171857763,223746531
0,Numb,7,Elderbrook,Why Do We Shake In The Cold?,Electronic,441070,565088

---
### Global dataset knowledge

This example has N nodes, all of which have global knowledge of the entire state of the network and all its contents, including the global dataset of music and clicklog(s).

#### Search and Click

Create a simulation of searching and clicking:

- Network is created with global dataset
- Random nodes start searching for terms
- Once search is performed, they click on (random entry)
- Global clicklog is updated
    
    
- **Next step: update the search based on clicklog, first example of L2R**

In [30]:
numNodes = 10

empty_log = pd.DataFrame(columns=df_log.columns)
network = Network(numNodes, df_test, empty_log, fractional=True)

In [31]:
network.clicklog.columns[0]

'userID'

In [32]:
corpus = df_test.song.drop_duplicates(inplace=False)
corpus = corpus.append(df_test.artist).drop_duplicates(inplace=False)
corpus = corpus.append(df_test.album).drop_duplicates(inplace=False)
corpus = corpus.append(df_test.genre).drop_duplicates(inplace=False).reset_index(inplace=False, drop=True)


# corpus

C:\Users\awrg\AppData\Local\Temp\ipykernel_14412\3203682018.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  corpus = corpus.append(df_test.artist).drop_duplicates(inplace=False)
C:\Users\awrg\AppData\Local\Temp\ipykernel_14412\3203682018.py:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  corpus = corpus.append(df_test.album).drop_duplicates(inplace=False)
C:\Users\awrg\AppData\Local\Temp\ipykernel_14412\3203682018.py:4: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  corpus = corpus.append(df_test.genre).drop_duplicates(inplace=False).reset_index(inplace=False, drop=True)

In [34]:
# number of random searches to be done

num_searches = 10


for i in range(num_searches):
    
    # randomly choose a node to be searching
    searching_node = np.random.randint(0,len(network.nodes))
    
    # randomly choose a term to search for from the corpus
    term = corpus.sample().values[0]
    
    # compile all results
    results = search_v1(term, network.nodes, False)
    
    # randomly choose an item from the results. Search returns all results from all nodes. Pick the first, randomly sample
    clicked = results.sample()
    
#     print(clicked)
    
    to_append = {network.clicklog.columns[0]: network.nodes[searching_node].nodeID,
                network.clicklog.columns[1]: term,
                network.clicklog.columns[2]: np.random.randint(1,network.library.shape[0]),
                network.clicklog.columns[3]: clicked.song,
                network.clicklog.columns[4]: None}
    
    to_append = pd.DataFrame(to_append, index=[0])
    
    
    network.clicklog = pd.concat([network.clicklog, to_append], axis=0, ignore_index=False).reset_index(inplace=False, drop=True)

In [35]:
network.clicklog

  userID            user_query click_position                 title magnet
0      1    Everytime We Touch              7    Everytime We Touch   None
1      3                  Dope              6                  Dope   None
2      5            Emmit Fenn              8               Control   None
3      8        The Last Dance              8               Control   None
4      9            Electronic              2                   NaN   None
5      5    Everytime We Touch              3    Everytime We Touch   None
6      5            Electronic              7                   NaN   None
7      2  Something in the Way              8  Something in the Way   None
8      4                  Dope              2                  Dope   None
9      9             Soul Food              8             Soul Food   None

In [36]:
corpus.sample().values[0]

'53 Thieves'

In [37]:
np.random.randint(1,network.library.shape[0])

7

In [38]:
# network.nodes

----
# Similarity Rankings

Start building user-item matrices for collaborative filtering. How to deal with rankings?

What about...
- 0 is for unseen, unsearched
- 1 is for searched and clicked
- 2 is for searched, clicked, and "liked"

Rank based on score of the above. 


### Item Matrix

- Index: Users
- Columns: Songs
- Values: Ratings

In [39]:
df_items = pd.DataFrame(index=list(range(len(network.nodes))), columns=network.library.song.unique())
# df_items.fillna(0, inplace=True)

df_items

,Soul Food,The Enemy,Everytime We Touch,Something in the Way,heat,Another Life,Numb,Control,Fire for You,Dope
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
network.nodes[4].library

,song,songID,artist,album,genre,play_count,click_count
0,Soul Food,1,Mat Zo,Self Assemble,Electronic,82294,555
1,The Enemy,2,Mat Zo,Self Assemble,Electronic,42875,777
2,heat,5,53 Thieves,after hours,Electronic,88342,101527
3,Another Life,6,Jadu Heart,Hyper Romance,Electronic,17009,28032
4,Fire for You,9,Cannons,Shadows,Electronic,32199,37825

In [41]:
for node in network.nodes:
#     print(node.nodeID)
    
    for song in node.library.song.unique():
        
        # We need a variable to determine if the song is liked, for now assume all in library are "liked"
        df_items.iloc[node.nodeID][song] = 2

In [42]:
A = np.sum([x for x in df_items.product(axis=1)])
B = np.sqrt(A)

In [43]:
similarity_v1(network.nodes[0].library.columns)

TypeError: similarity_v1() missing 1 required positional argument: 'song2'

In [ ]:
df.product(axis=1)

---
# Methods and code to save for later

In [ ]:
# Lambda expression to see if a term is in a column of a dataframe
df_test.apply(lambda row: row.astype(str).str.contains('Mat Zo').any(), axis=1)

In [ ]:
# Regex to ignore case in string search, can only compare two string objects though (afaik)
re.search("soul", df_test.iloc[0].song, re.IGNORECASE)

In [238]:
# Returns the index of the item with the lowest string distance to the search term
term = 'Mat Zo'
x = np.argmin([L_dist(term, x) for x in to_search.columns])
x

1