In [15]:
import os
import numpy as np
import pandas as pd
import datetime

import numpy as np
import pandas as pd
import string
import re
import matplotlib.pyplot as plt
import math
from matplotlib import rc
from sklearn.model_selection import train_test_split
from collections import Counter, defaultdict
from sklearn.metrics import accuracy_score
import matplotlib.ticker as ticker
from math import sqrt

import plotly.express as px 
import matplotlib.pyplot as plt
import warnings

from scipy.spatial.distance import cdist 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler

In [17]:
df_test = pd.read_csv('C:/Users/awrg/Documents/Delft/Thesis/Projects/Datasets/Engineered/last_merged_test_v1.csv')
df_test

,id,name,userID,artistID,playCount,totalUniqueUsers,totalArtistPlays,avgUserPlays
0,72,Depeche Mode,1642,72,352698,282,1301308,4614.567376
1,792,Thalía,2071,792,324663,26,350035,13462.884615
2,511,U2,1094,511,320725,185,493024,2664.994595
3,203,Blur,1905,203,257978,114,318221,2791.412281
4,498,Paramore,1664,498,227829,399,963449,2414.659148
5,378,Evanescence,1146,378,203165,226,513476,2272.017699
6,292,Christina Aguilera,514,292,176133,407,1058405,2600.503686
7,701,Shakira,1983,701,172496,319,688529,2158.398119
8,701,Shakira,757,701,169596,319,688529,2158.398119
9,679,Glee Cast,1086,679,165902,249,506453,2033.947791

In [18]:
df_enc = pd.read_csv('C:/Users/awrg/Documents/Delft/Thesis/Projects/Datasets/Engineered/last_merged_encoded_test_v1.csv')
df_enc

,id,name,userID,artistID,playCount,totalUniqueUsers,totalArtistPlays,avgUserPlays
0,72,3998,1642,72,352698,282,1301308,4614.567376
1,792,14012,2071,792,324663,26,350035,13462.884615
2,511,15654,1094,511,320725,185,493024,2664.994595
3,203,2092,1905,203,257978,114,318221,2791.412281
4,498,11069,1664,498,227829,399,963449,2414.659148
5,378,5011,1146,378,203165,226,513476,2272.017699
6,292,3023,514,292,176133,407,1058405,2600.503686
7,701,12818,1983,701,172496,319,688529,2158.398119
8,701,12818,757,701,169596,319,688529,2158.398119
9,679,5879,1086,679,165902,249,506453,2033.947791

In [19]:
df_scaled = pd.read_csv('C:/Users/awrg/Documents/Delft/Thesis/Projects/Datasets/Engineered/last_merged_scaled_test_v1.csv')
df_scaled

,id,name,userID,artistID,playCount,totalUniqueUsers,totalArtistPlays,avgUserPlays
0,0.003788,0.226760,0.781697,0.003788,93.821497,1.590902,4.371100,5.116137
1,0.042200,0.794737,0.986177,0.042200,86.348091,-0.487206,0.875301,16.815652
2,0.027209,0.887868,0.520496,0.027209,85.298322,0.803494,1.400766,2.538353
3,0.010777,0.118655,0.907054,0.010777,68.571596,0.227144,0.758388,2.705506
4,0.026515,0.627815,0.792183,0.026515,60.534653,2.540662,3.129514,2.207352
5,0.020113,0.284215,0.545281,0.020113,53.959869,1.136316,1.475924,2.018747
6,0.015525,0.171459,0.244042,0.015525,46.753837,2.605603,3.478464,2.453081
7,0.037345,0.727015,0.944233,0.037345,45.784307,1.891253,2.119220,1.868515
8,0.037345,0.727015,0.359867,0.037345,45.011242,1.891253,2.119220,1.868515
9,0.036172,0.333447,0.516683,0.036172,44.026517,1.323021,1.450115,1.703963

---

# Rudimentary Model